---
interface Props {
  title: string;
  description: string;
  id: string;
}

const { title, description, id } = Astro.props;
---

<li
  class="group list-none w-full text-neutral-100 hover:text-primary-200 ease-in-out transition-colors border-b-darkslate-400 hover:border-primary-500 border-dashed border-b-1 my-2"
>
  <a
    class="text-sm md:text-base decoration-none block py-2"
    href={`/blog/${id}`}
  >
    <p class="font-medium leading-snug">
      {title}
    </p>
    <p class="text-xs md:text-sm text-neutral-400 group-hover:text-primary-300 mt-1 leading-relaxed transition-colors duration-200">
      {description}
    </p>
  </a>
</li>
