:root {
  --darkslate-50: #f7f7f7;
  --darkslate-100: #e3e3e3;
  --darkslate-200: #c9c9c9;
  --darkslate-300: #6b6b6b;
  --darkslate-400: #383838;
  --darkslate-500: #171717;
  --darkslate-600: #141414;
  --darkslate-700: #111111;
  --darkslate-800: #0e0e0e;
  --darkslate-900: #0b0b0b;

  --primary-100: #e8f5e9;
  --primary-200: #c8e6c9;
  --primary-300: #a5d6a7;
  --primary-400: #81c784;
  --primary-500: #66bb6a;
  --primary-600: #4caf50;
  --primary-700: #43a047;
  --primary-800: #388e3c;
  --primary-900: #2e7d32;

  --font-cabinet-grotesk: "CabinetGrotesk", "Cabinet Grotesk", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;
}

html {
  overscroll-behavior: none;
}

body {
  min-height: 100vh;
}

body::before {
  --line-color: theme("colors.darkslate.400");
  --line-size: 80px;
  content: "";
  height: 100vh;
  width: 101vw;
  position: fixed;
  background: linear-gradient(90deg, var(--line-color) 1px, transparent 1px) center /
      var(--line-size) var(--line-size),
    linear-gradient(var(--line-color) 1px, transparent 1px) center /
      var(--line-size) var(--line-size);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  -webkit-mask: linear-gradient(-360deg, transparent 40%, white);
  mask: linear-gradient(-360deg, transparent 40%, white);
}

.switchboard {
  background-color: theme("colors.darkslate.900");
  padding: 40px;
  border-radius: 20px;
}

.switchboard .star {
  width: 1px;
  height: 1px;
  border-radius: 100%;
  position: relative;
  transition: transform 10ms ease;
}

.switchboard .star::after,
.switchboard .star::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  border-radius: inherit;
  transition: opacity 10ms ease;
}

.switchboard .star::before {
  background: theme("colors.primary.500");
  box-shadow: 0px 0px 2px 1px theme("colors.primary.800");
}

.switchboard .star::after {
  background: #ffffff;
  box-shadow: 0px 0px 1px 1px theme("colors.primary.500"),
    0px 0px 2px 1px theme("colors.primary.800");
}

.switchboard .star[data-state="off"] {
  background: theme("colors.darkslate.300");
}

.switchboard .star[data-state="medium"]::before {
  opacity: 1;
}

.switchboard .star[data-state="high"]::after {
  opacity: 1;
}
